# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.cache/

# Virtual environments
.venv/
venv/
ENV/
env/

# Environment variables
.env
.env.*

# Docker
*.log
docker-compose.override.yml

# VSCode
.vscode/

# MacOS
.DS_Store 